{% extends 'base.html' %}

{% block content %}

<h1> Travels List </h1>

{% if travels|length == 0 %}
<p>Clique <a href="{% url 'travels_create' %}"> HERE </a> to start your list.</p>
{% endif %}

{% for travel in travels %}

<div class="card">

    <a href="{% url 'detail' travel.id %}">
  <div class="card-content">

    <div class="flex-container">

      <div>

        <span class="card-title"> {{ travel.name }} </span>

        <p>Country: {{ travel.country }}</p>
        <p>City: {{ travel.city }}</p>

      </div>
      

      <div class="right">
        {% if travel.image == None %}
        <img height="100px" src="/static/images/no-image.png" />
        {% else %}
        <img height="100px" src="{{ travel.image }}" />
        {% endif %}
      </div>

    </div>
  </div>
</a>
</div>

{% endfor %}

{% endblock %}