{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Travel Collector Web App</title>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

    <header>
    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'checklists_create' %}">Add a Checklist</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'checklists_index' %}">View All Checklists</a></li>    
        </ul>

        <nav>
            <div class="nav-wrapper">
                
                <a href="{% url 'home' %}" class="left brand-logo"> &nbsp; &nbsp; The Travel Collector App</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    
                    <li><a href="{% url 'about' %}"> About </a></li>

                    {% if user.is_authenticated %}

                    
                    <li><a href="{% url 'travels_create' %}"> Add a Travel </a></li>
                    <li><a href="{% url 'index' %}"> View All My Travels </a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Travel Planner<i class="material-icons right"></i></a></li>
                    <li>Hi {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}"> Logout </a> </li>                 

                    {% else %}

                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>

                    {% endif %}                    
                </ul>

        
                
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        {% include '_navbar.html' %}
    </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer custom-footer">
        <div class="right">
            All Rights Reserved &copy; The Travel Collector &nbsp;
        </div>
    </footer>
    <script> 
      
        $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
        });

    </script>
</body>
</html>