{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li> <a href="{% url 'home' %}" class="left brand-logo"> &nbsp; &nbsp; The Travel Collector </a></li>
                </ul>

                <ul class="right">
                    <li> <a href="{% url 'about' %}"> About </a></li>
                    <li> <a href="{% url 'index' %}"> View All My Travels </a></li>
                </ul>

            </div>
        </nav>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">
            All Rights Reserved, &copy; Travel Collector &nbsp;
        </div>
    </footer>
    
</body>
</html>