body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'Style Script', cursive !important; 
}

nav .nav-wrapper {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}